<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Mercado Liebre</title>
</head>
<body>
<header> 
  <div class="first-line">
    <div class="div-logo">
        <img  src='imagenes/logo-mercado-liebre.svg' alt='logo' class="logo">
    </div>   
    <form class="div-search"  method="post" action="#">
            <input type="text" class="search" placeholder="Buscar productos, marcas" />  <button class="search"><i class="fas fa-search"></i></button>
    </form>
    
    <div class="cuotas"> <i class="fas fa-hand-holding-usd"></i> Compr&aacute; en cuotas y tarjeta de cr&eacute;dito
    </div>
  </div>

<div class="nav-bar">
    <ul class="site-nav">
        <li><a href="">Ofertas</a></li>
        <li><a href="">Tiendas Oficiales</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
    </ul>

    <ul class="login-nav">
        <li><a href="/register">Cre&aacute; tu cuenta <i class="far fa-id-card"></i> </a></li>
        <li><a href="/login">Ingres&aacute; <i class="fas fa-sign-in-alt"></i> </a></li>
        <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i> </a></li>
    </ul>
</div>

<div class="burger-menu">
    <i class="fas fa-bars"></i>
</div>
<img  src="imagenes/img-home-banner.jpg" alt="banner" class="banner">
</header>

<main>
  <h2>Basado en tu &uacute;ltima visita</h2>
  
  
  <section>
  <article>
    <img src='imagenes/img-cafetera-moulinex.jpg' alt='Cafetera' />
    <div class="box-article">
        <i class="fas fa-truck"></i>
        <div class='precio'>$6.770</div>
        <div class='descuento'>40% off</div>
        <div class='descripcion'>Cafetera Moulinex</div>
    </div>
  </article>

  <article>
    <img src='imagenes/img-macbook-pro-2019.jpg' alt='MacBook' />
    <div class="box-article">
        <i class="fas fa-truck"></i>
        <div class='precio'>$230.000</div>
        <div class='descuento'>20% off</div>
        <div class='descripcion'>MacBook Pro 2019</div>
    </div>
  </article>

  <article>
    <img  src='imagenes/img-samsung-galaxy-s10.jpg' alt='Samsung' />
    <div class="box-article">
        <i class="fas fa-truck"></i>
        <div class='precio'>$40.500</div>
        <div class='descuento'>10% off</div>
        <div class='descripcion'>Samsung Galaxy S10</div>
    </div>
  </article>

  <article>
    <img  src='imagenes/img-tv-samsung-smart.jpg' alt='Smart' />
    <div class="box-article">
      <i class="fas fa-truck"></i>
      <div class='precio'>$23.200</div>
      <div class='descuento'>5% off</div>
      <div class='descripcion'>SmartTv Samsung 43"</div>
    </div>  
</article>

</section>

<h2>Ofertas</h2>
<section>
  
  <article>
    <img  src='imagenes/img-cafetera-moulinex.jpg' alt='Cafetera' />
    <div class="box-article">
        <i class="fas fa-truck"></i>
        <div class='precio'>$6.770</div>
        <div class='descuento'>40% off</div>
        <div class='descripcion'>Cafetera Moulinex</div>
    </div>    
  </article>

  <article>
    <img src='imagenes/img-macbook-pro-2019.jpg' alt='MacBook' />
    <div class="box-article">
        <i class="fas fa-truck"></i>
        <div class='precio'>$230.000</div>
        <div class='descuento'>20% off</div>
        <div class='descripcion'>MacBook Pro 2019</div>
    </div>
  </article>

  <article>
    <img  src='imagenes/img-samsung-galaxy-s10.jpg' alt='Samsung' />
    <div class="box-article">
        <i class="fas fa-truck"></i>
        <div class='precio'>$40.500</div>
        <div class='descuento'>10% off</div>
        <div class='descripcion'>Samsung Galaxy S10</div>
    </div>
  </article>

  <article>
    <img  src='imagenes/img-tv-samsung-smart.jpg' alt='Smart' />
    <div class="box-article">
        <i class="fas fa-truck"></i>
        <div class='precio'>$23.200</div>
        <div class='descuento'>5% off</div>
        <div class='descripcion'>SmartTv Samsung 43"</div>
    </div>
   </article>

</section>


</main>
<footer>

    <section>
        <i class="fas fa-credit-card icon"></i>
        <h3>Pag&aacute; con tarjeta o en efectivo</h3>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
    </section>

    <section>
        <i class="fas fa-gift icon"></i>
        <h3>Env&iacute;o gratis desde $ 2.500</h3>
        Solo por estar registrad@ en Mercado Liebre ten&eacute;s env&iacute;os gratis en miles de productos. Es un beneficio de Mercado Puntos.
    </section>
    
    <section>
        <i class="fas fa-user-shield icon"></i>
        <h3>Seguridad, de principio a fin</h3>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.

    </section>
    
    <section>
        Copyright © 1999-2020 MercadoLiebre S.R.L.
    </section>

</footer>
</body>
</html>